<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pip Downloader</title>
    <style>
        div {
        font-size:x-large;
        }
    </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script>
          setTimeout(function() {
              $('#errorMsg').fadeOut('slow');
          }, 5000); // <-- time in milliseconds

    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9696602099903532",
          enable_page_level_ads: true
      });
    </script>

  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>